<app-header></app-header>

<section class="retairement howWorkit boxs">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft">
                        <h2 class="mainHead">Lorem ipsum dolor<br><span class="colorBlue">sit amet</span></h2>
                        <p class="headmain">Mauris non dapibus diam, a ultrices erat. Vivamus porttitor luctus augue, a
                            tempor diam interdum sed. Aliquam mattis scelerisque nisl, eget luctus diam volutpat ac.</p>
                        <div class="indexleftLow">
                            <a href="https://play.google.com/store" class="btnsAll">Get Started</a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight how_it_work">
                        <img src="assets/images/howItWork.png" alt="howItWork">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="selfDirected workDirected boxs">
    <div class="container-fluid">
        <div class="selfDirectInner">
            <h2 class="mainHead">Go into <span class="colorBlue">2 journeys</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="selfFlex">
            <div class="selfBox selfBox2">
                <h2 class="inner">Self-directed account</h2>
                <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a [routerLink]="['/self-directed']" class="btnsAll">Learn More</a>
            </div>
            <div class="selfBox selfBox2 active">
                <h2 class="inner">Managed account</h2>
                <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a [routerLink]="['/maanged-subtab']" class="btnsAll">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="howWork sliderArrow howWork2 boxs">
    <div class="container-fluid">
        <h2 class="mainHead">How it works</h2>
        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <owl-carousel-o [options]="customOptions55">
            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Tell us about you</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Get a customized portfolio</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Monitor your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Browse stocks & ETFs</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Tell us about you</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Get a customized portfolio</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Monitor your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Browse stocks & ETFs</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

        </owl-carousel-o>
        <div class="dotsCss pt-5">
            <ul>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click" (click)="onClickDot(4)"></li>
                <li class="custom-next-click" (click)="onClickDot(5)"></li>
            </ul>
        </div>
        <div class="sliderDown">
            <p>Can't choose? Don't need to settle for just one. Check our A La Carte pricing <a
                    [routerLink]="['/pricing']"> here</a></p>
        </div>
    </div>
</section>


<section class="accountType boxs">
    <div class="container-fluid">
        <div class="accoutnInner">
            <h2 class="mainHead"><span class="colorBlue"> Account</span> types</h2>
            <p class="headmain">Account types that you can open</p>
            <div class="typeOpen">
                <div class="typeFirst">
                    <div class="typeImg">
                        <img src="assets/images/individual.png" alt="individual">
                    </div>
                    <div class="typeContent">
                        <h2 class="inner">INDIVIDUAL</h2>
                        <p class="headmain">Set up an individual taxable account for your general investing needs</p>
                    </div>
                </div>
                <div class="typeFirst">
                    <div class="typeImg">
                        <img src="assets/images/joint.png" alt="individual">
                    </div>
                    <div class="typeContent">
                        <h2 class="inner">JOINT</h2>
                        <p class="headmain">Establish a joint account with a relative, spouse, or domestic partner.</p>
                    </div>
                </div>
                <div class="typeFirst">
                    <div class="typeImg">
                        <img src="assets/images/ira.png" alt="individual">
                    </div>
                    <div class="typeContent">
                        <h2 class="inner">IRA</h2>
                        <p class="headmain">Premium only</p>
                    </div>
                </div>
            </div>
            <div clsss="typePara">
                <p class="typeParaa">Interested in add-on thematic investing? <a [routerLink]="['/investment']">Learn
                        more</a></p>
            </div>
        </div>
    </div>
</section>

<section class="portfolioTime boxs">
    <div class="container-fluid">
        <div class="portfolioIn">
            <h2 class="mainHead">How your portfolio could<br>
                <span class="colorBlue">grow</span> over time?</h2>
            <p class="headmain">Your Mudani portfolio has the potential to compound capital at a high rate. Calculate it
                yourself below! Please note projections are based on historical market data. (3% weak, 7% normal, 10%
                strong)</p>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="portSlid">
                    <ul>
                        <li>
                            <div class="slidecontainer slidecontainer2">
                                <h2>Initial Amount -<span> ${{principalAmount}}</span></h2>
                                <div class="rSlider">
                                    <span class="slide slider slide1"></span>
                                    <input id="range" type="range" min="1000" max="250000"
                                        (change)="initialAmount($event)">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slidecontainer slidecontainer2">
                                <h2>Monthly Contribution - <span> ${{contribution}}</span></h2>
                                <div class="rSlider">
                                    <span class="slide slider slide2"></span>
                                    <input id="range1" type="range" min="0" max="100"
                                        (change)="monthlyContribution($event)">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="slidecontainer slidecontainer2">
                                <h2>Time Horizon - <span> {{time}} Years</span></h2>
                                <div class="rSlider">
                                    <span class="slide slider slide3"></span>
                                    <input id="range2" type="range" min="0" max="15" (change)="timeHorizon($event)">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="radioAll2">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked (click)="marketData('all')">
                        <label for="radio-1" class="radio-label"><span class="radioAll radio1"></span>All</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio" (click)="marketData('weak')">
                        <label for="radio-2" class="radio-label"><span class="radioAll radio2"></span>Weak</label>
                    </div>
                    <div class="radio">
                        <input id="radio-3" name="radio" type="radio" (click)="marketData('normal')">
                        <label for="radio-3" class="radio-label"><span class="radioAll radio3"></span>Normal</label>
                    </div>
                    <div class="radio">
                        <input id="radio-4" name="radio" type="radio" (click)="marketData('strong')">
                        <label for="radio-4" class="radio-label"><span class="radioAll radio4"></span>Strong</label>
                    </div>
                    <div class="radio">
                        <input id="radio-5" name="radio" type="radio" (click)="marketData('mudani')">
                        <label for="radio-5" class="radio-label"><span class="radioAll radio5"></span>Mudani</label>
                    </div>
                </div>

            </div>
        </div>

        <section class="chartt boxs pt-5 pb-5">
            <div class="container">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </section>

        <div class="fullSlider">
            <div class="slidecontainer slidecontainer2">
                <h2>Initial Amount -<span> $1000</span></h2>
                <div class="rSlider">
                    <span class="slide slider slide5"></span>
                    <!-- <input id="range5" type="range" min="0" max="100000"> -->
                    <input id="range5" type="range" min="0" max="100000">
                </div>
            </div>
            <!-- <div class="graphHt">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                  </div> -->
            <ul>
                <li>Weak</li>
                <li>Normal</li>
                <li>Strong</li>
                <li>Mudani</li>
            </ul>
            <div class="dicleared"><a [routerLink]="['/themantic']" class="btnsAll">Disclosures</a></div>
        </div>
    </div>
</section>

<!-- <section class="howVideo boxs">
    <div class="container-fluid">
        <div class="howContent">
            <h2 class="mainHead">Lorem ipsum</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="workAllvid">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kV_cwSQZaJk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section> -->
<section class="howVideo boxs">
    <div class="container">
        <div class="howContent">
            <h2 class="mainHead">Lorem ipsum</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <!-- <div class="workAllvid">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kV_cwSQZaJk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
    <div id="wrapper" class="workAllvid">
        <div class="btnNot">
            <button id="fullpage-button" style="display: none">Toggle Fullscreen Page</button>
            <button id="fullpage-exit-button" style="display: none">Exit Fullscreen Page</button>
        </div>
        <div class="videoShows">
            <video id="video" width="100%" height="420px" controls>
                <source src="https://sec.ch9.ms/ch9/2662/45582fab-b8ec-4719-8ccc-ff5e8fde2662/EdgeF12Tools_high.mp4">
            </video>
        </div>
        <button id="video-button" class="playRight"><i class="fa fa-play"></i></button>
    </div>
</section>

<section class="freuentlyAsk boxs">
    <div class="container-fluid">
        <div class="frequantAll">
            <h2 class="mainHead">Frequently asked <span class="colorNeww">questions</span></h2>
        </div>
        <div class="AllAccordian">
            <div class="discord discordFree ">
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class="active"><i class="fa fa-minus"></i><span>What are thematic
                            portfolios?</span></a>
                    <div class="content content2" style="display: block;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                            portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                            portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                            portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                            portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="freqBlockHide">
                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                                portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic
                                portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seeAll">
                <a href="javascript:void(0)" class="btnsAll freqBlockShow">See All</a>

            </div>
        </div>
    </div>
</section>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<app-footer></app-footer>