<app-header></app-header>

<section class="retairement boxs">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft mudineLeft">
                        <h2 class="mainHead"><span class="colorNeww">Mudani-U</span><br>The New Way to <br>College.</h2>
                        <p class="headmain">Mauris non dapibus diam, a ultrices erat. Vivamus porttitor luctus augue,a tempor diam interdum sed. Aliquam mattis scelerisque nisl, eget luctusdiam volutpat ac..</p>
                        <div class="indexleftLow">
                            <a href="javascript:void(0)" class="btnsAll colorNeww2">Contact us</a>           
                            </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight">
                        <img src="assets/images/u_mudani.png" alt="mudanipage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourWhy boxs">
    <div class="container-fluid">
        <div class="ourWhyIn">
            <h2 class="mainHead">Our ‘Why’.</h2>
            <div class="ourMain">
                <a href="javascript:void(0)" class="active">Lorem ipsum dolor sit amet. Lorem</a>
                <div class="mainContent active">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem leo, efficitur vitae ornare ut, suscipit non nisi. Vestibulum vitae massa libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ullamcorper vestibulum auctor. Cras euismod est a ligula ultrices.</p>
                </div>
            </div>
            <div class="ourMain">
                <a href="javascript:void(0)" class="active">Lorem ipsum dolor sit amet. Lorem</a>
                <div class="mainContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem leo, efficitur vitae ornare ut, suscipit non nisi. Vestibulum vitae massa libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ullamcorper vestibulum auctor. Cras euismod est a ligula ultrices.</p>
                </div>
            </div>
            <div class="ourMain">
                <a href="javascript:void(0)" class="active">Lorem ipsum dolor sit amet. Lorem</a>
                <div class="mainContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem leo, efficitur vitae ornare ut, suscipit non nisi. Vestibulum vitae massa libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ullamcorper vestibulum auctor. Cras euismod est a ligula ultrices.</p>
                </div>
            </div>
            <div class="ourMain">
                <a href="javascript:void(0)" class="active">Lorem ipsum dolor sit amet. Lorem</a>
                <div class="mainContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem leo, efficitur vitae ornare ut, suscipit non nisi. Vestibulum vitae massa libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ullamcorper vestibulum auctor. Cras euismod est a ligula ultrices.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rollOver WE_DO boxs">
    <div class="container-fluid">
        <div class="weDo">
            <h2 class="mainHead ">Whats in it  <span class="colorNeww">for U?</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg  doImg blueColor">
                        <img src="assets/images/check.png" alt="check">
                    </div>
                    <h2 class="inner">Sign Up</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg doImg blueColor">
                        <img src="assets/images/path.png" alt="path">
                    </div>
                    <h2 class="inner">Pick a Path</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg doImg blueColor">
                        <img src="assets/images/journey.png" alt="journey">
                    </div>
                    <h2 class="inner">Start your investing journey</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rollOver WE_DO boxs">
    <div class="container-fluid">
        <div class="weDo">
            <h2 class="mainHead ">Whats in it  <span class="colorNeww">for students?</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg  doImg blueColor">
                        <img src="assets/images/check.png" alt="check">
                    </div>
                    <h2 class="inner">Sign Up</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg doImg blueColor">
                        <img src="assets/images/path.png" alt="path">
                    </div>
                    <h2 class="inner">Pick a Path</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll blueColor">
                    <div class="rollImg doImg blueColor">
                        <img src="assets/images/journey.png" alt="journey">
                    </div>
                    <h2 class="inner">Start your investing journey</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="Seamless boxs">
    <div class="container-fluid">
        <div class="seamInner">
            <h2 class="mainHead">Seamless Experience for <span class="colorNeww">your Students</span></h2>
        </div>
        <owl-carousel-o [options]="customOptionU">
            <ng-template carouselSlide> 
        <div class="yourSlider">
            <h2 class="inner">White label platform</h2>

            <div class="yourImgs">
<img src="assets/images/u-mob.png" alt="u-mob">
            </div>
        </div>
        </ng-template>

        <ng-template carouselSlide> 
            <div class="yourSlider">
                <h2 class="inner">White label platform</h2>
    
                <div class="yourImgs">
    <img src="assets/images/u-mob.png" alt="u-mob">
                </div>
            </div>
            </ng-template>

            <ng-template carouselSlide> 
                <div class="yourSlider">
                    <h2 class="inner">White label platform</h2>
        
                    <div class="yourImgs">
        <img src="assets/images/u-mob.png" alt="u-mob">
                    </div>
                </div>
                </ng-template>
        </owl-carousel-o>
    </div>
</section>

<section class="readyDevliver boxs">
    <div class="container-fluid">
        <div class="readyInner">
            <h2 class="mainHead">Ready to deliver a whole new kind of <span class="colorNeww">experience?</span></h2>
       <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       <a href="javascript:void(0)" class="btnsAll">schedule a demo</a>
        </div>
    </div>
</section>

<app-footer></app-footer>