<app-header></app-header>

<!-- <section class="pickPath boxs">
        <div class="container-fluid">
            <div class="pickInner"> 
                <h2 class="mainHead">Lorem ipsum <span class="colorBlue">dolor</span></h2>
                <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul class="pickCard">
                    <li><a href="javascript:void(0)" class="selfDirect">Self-Directed DIY</a></li>
                    <li><a href="javascript:void(0)" class="active selfManag">Managed Account</a></li>
                </ul>
                <div class="cards">
                    <div class="cardsLeft cardsLeftF cardPosition">
                        <h3 class="basic">Basic</h3>
                        <h3 class="min">$0 Min</h3>
                        <p>$5/month</p>
                        <div class="cardInner">
                            <ul class="cardUl">
                                <li>Each thematic portfolio pie <br>
                                    +$1/month
                                    <ul class="cardLower cardShow">
                                        <li>Individual</li>
                                        <li>Joint</li>
                                        <li>IRA</li>
                                    </ul>
                                </li>
                                <li class="active">Account types supported:
                                    <ul class="cardLower cardShow">
                                        <li>Individual</li>
                                        <li>Joint</li>
                                        <li>IRA</li>
                                    </ul>
                                </li>
                            </ul>
        
                            <div class="btnClass btnPosition">
                                <a href="javascript:void(0)" class="btnsAll">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="cardsLeft cardsLeftNew cardPosition active">
                        <h3 class="basic">Basic</h3>
                        <h3 class="min">$0 Min</h3>
                        <p>$5/month</p>
                        <div class="cardInner">
                            <ul class="cardUl">
                                <li>Free IRA access</li>
                                <li>Margin</li>
                                <li>Access to all thematic portfolio pies</li>
                                <li>Account types supported:</li>
                            </ul>
                            <ul class="cardLower">
                                <li>Individual</li>
                                <li>Joint</li>
                                <li>IRA</li>
                                <li>Individual</li>
                                <li>Joint</li>
                                <li>IRA</li>
                            </ul>
                            <div class="btnClass btnPosition">
                                <a href="javascript:void(0)" class="btnsAll">Learn More</a>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section> -->
<section class="pickPath boxs">
    <div class="container">
        <div class="pickInner">
            <h2 class="mainHead">Pick your <span class="colorBlue">Path</span></h2>
            <p class="headmain">A plan for all. Whether you’re an investing newbie or a sophisticated day trader. <br>
                Mudani creates a tailored fit portfolio for you. $0 min & low fees.</p>
            <!-- <a href="javascript:void(0)">Pick yours.</a> -->
            <ul class="pickCard">
                <li><a class="selfDirect">Self-Directed DIY</a></li>
                <li><a class="active selfManag">Managed Account</a></li>
            </ul>
            <div class="cards">
                <div class="cardsLeft cardsLeftF">
                    <h3 class="basic">Basic</h3>
                    <h3 class="min">$0 Min</h3>
                    <p>$5/month</p>
                    <div class="cardInner">
                        <ul>
                            <li class="set5">
                                <a class="setb">Each thematic portfolio pie
                                    +$1/month </a>
                                <div class=" content5" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="set5">
                                <a class="setb">Account types supported:</a>
                                <div class=" content5" style="display: block;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="btnClass boxs">
                            <a [routerLink]="['/self-directed']" class="btnsAll">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="cardsLeft cardsLeftNew active">
                    <h3 class="basic">Premium</h3>
                    <h3 class="min">$100k Min</h3>
                    <p>$10/month</p>
                    <div class="cardInner">
                        <ul>
                            <li class="setnew ">
                                <a class="setb">Free IRA access</a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                            <li>Trusts</li>
                                            <li>Custodial (UTMA/UGMA)</li>
                                            <li>Institutional</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a class="setb">Margin </a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a class="setb">Access to all thematic portfolio pies </a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a class="setb">Account types supported:</a>
                                <div class="contentnew" style="display: block;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                            <li>Trusts</li>
                                            <li>Custodial (UTMA/UGMA)</li>
                                            <li>Institutional</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="btnClass boxs">
                            <a [routerLink]="['/maanged-subtab']" class="btnsAll">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="SeeyourFee boxs">
    <div class="container-fluid">
        <div class="seeYouIn">
            <h2 class="mainHead">See your <span class="colorBlue">Fee</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- <div class="selfDivAll">
                <ul class="selfDivUl">
                    <li>Self-Directed DIY</li>
                    <li>Managed Account</li>
                </ul>

                <ul class="selfDivBUl">
                    <li (click)="listClick(0, 'basic')" [ngClass]="{'active': selectedItem == 'basic'}">Self
                        Directed<br>
                        Basic<span>Free</span></li>
                    <li (click)="listClick(2, 'selfPremium')" [ngClass]="{'active': selectedItem == 'selfPremium'}">Self
                        Directed<br>
                        Premium<span>$2/month</span></li>
                    <li (click)="listClick(5, 'basic')" [ngClass]="{'active': selectedItem == 'basic'}">
                        Managed<br> Basic<span>$5/month</span></li>
                    <li (click)="listClick(7, 'managedPremium')"
                        [ngClass]="{'active': selectedItem == 'managedPremium'}">
                        Managed<br> Premium<span>$7/month</span></li>
                </ul>
            </div> -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="selfDivAll">
                        <ul class="selfDivUl">
                            <li>Self-Directed DIY</li>
                        </ul>
                        <ul class="selfDivBUl">
                            <li (click)="feeCharge=0; listClick('selfBasic')"
                                [ngClass]="{'active': selectedItem == 'selfBasic'}">
                                Self
                                Directed<br> Basic<span>Free</span></li>
                            <li (click)="feeCharge=2; listClick('selfPremium')"
                                [ngClass]="{'active': selectedItem == 'selfPremium'}">Self
                                Directed<br> Premium<span>$2/month</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="selfDivAll selfDivAllnew">
                        <ul class="selfDivUl">
                            <li>Managed Account</li>
                        </ul>
                        <ul class="selfDivBUl">
                            <li (click)="feeCharge=5; listClick('selfBasic')"
                                [ngClass]="{'active': (selectedItem == 'selfBasic' || selectedItem == 'selfPremium' )}">
                                Managed<br><span>$5/month</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="priceTotal">
                <ul class="selfDivBUl">
                    <li>Thematic<br> Basket<span>$1/month</span></li>
                </ul>
            </div>
            <div class="additionAl">
                <p>Additional </p>
                <div class="qty">
                    <button class="minus" (click)="counter('minus')" [disabled]="qtyValue == 1">-</button>
                    <span>{{qtyValue}}</span>
                    <button class="plus" (click)="counter('plus')">+</button>
                </div>
            </div>
            <div class="additionPara">
                <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ligula arcu, posuere
                    eu nunc et, eleifend venenatis est. Vivamus turpis odio, pulvinar at luctus nec, efficitur id risus.
                </p>
            </div>

            <div class="getStart">
                <h2 class="inner">Plans you have chosen:</h2>
                <p class="headmain">{{planType}} + Managed + {{qtyValue}} Thematic Baskets</p>
                <h3>$ {{fee}}/month</h3>
            </div>
            <div class="get_started">
                <a href="https://play.google.com/store" class="btnsAll">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>