<app-header></app-header>

<section class="retairement boxs">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft blogAll">
                        <h2 class="mainHead"><span class="colorBlue">Lorem ipsum dolor</span><br>sit amet</h2>
                        <p class="headmain">Mauris non dapibus diam, a ultrices erat. Vivamus porttitor luctus augue,a
                            tempor diam interdum sed. Aliquam mattis scelerisque nisl, eget luctus diam volutpat ac.</p>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight">
                        <img src="assets/images/blog.png" alt="Blog">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rollOver WE_DO boxs">
    <div class="container-fluid">
        <div class="featureStory">
            <p>FEATURED STORY</p>
        </div>
        <div class="weDo">
            <h2 class="mainHead ">How to Get the Most Out of Mudani Plus</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mudaniNew">
                    <h2>Mudani News</h2>
                    <p>Meet the Financial Advisors on <br> Our Private Wealth Team</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="mudaniNew">
                    <h2>Budgeting & Planning</h2>
                    <p>The “One-Number” Budget <br> Approach</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="mudaniNew">
                    <h2>Money & Life</h2>
                    <p>How Money Really Relates to <br> Happiness</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="Investingbasic boxs">
    
    <div class="container-fluid">
        <div class="investInner">
            <h2 class="mainHead investBefore">Investing <span class="colorBlue">Basics</span></h2>
            <p class ="headmain headA">The best place to start for beginners. Get the low-down before you dive in.</p>
      <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide> 
          <div class="paddingSlider">
           <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>  
        <div class="paddingSlider">
            <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3">
           
        </div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>
    
    </owl-carousel-o>

    </div>
    </div>
</section>

<section class="Investingbasic boxs">
    <div class="container-fluid">
        <div class="investInner">
            <h2 class="mainHead investBefore">Investing <span class="colorBlue">Basics</span></h2>
            <p class ="headmain headA">The best place to start for beginners. Get the low-down before you dive in.</p>
         
            <owl-carousel-o [options]="customOptions2">
      <ng-template carouselSlide> 
          <div class="paddingSlider">
           <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>  
        <div class="paddingSlider">
            <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3">
           
        </div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>
    
    </owl-carousel-o>
    
     
        </div>
    </div>
</section>

<section class="Investingbasic boxs">
    
    <div class="container-fluid">
        <div class="investInner">
            <h2 class="mainHead investBefore">Investing <span class="colorBlue">Basics</span></h2>
            <p class ="headmain headA">The best place to start for beginners. Get the low-down before you dive in.</p>
     
            <owl-carousel-o [options]="customOptions3">
      <ng-template carouselSlide> 
          <div class="paddingSlider">
           <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2">
        </div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>  
        <div class="paddingSlider">
            <div class="investImg"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">Diversification: What You Need to Know</h2>
            <p class="headmain">It’s a strategy that involves splitting up your investment portfolio into different types of assets that behavedifferently.
             Diversification is one of those finance buzzwords that people use and don’t actually explain. Maybe you read that diversification is good for your portfolio — and maybe you even know that it’s because it reduces risk. But why? And how?</p>
        </div>
    </div>
    </ng-template>  

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg2"></div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">A Kodak Moment: Tech Titans Rally</h2>
            <p class="headmain">Talk about a flashy headline. Kodak is infamously known as the camera film company missing the shift to digital photography, but now they’re back with a brand new look. The 132-year-old company will be reorienting a part of its factory to produce drug ingredients under a new Kodak Pharmaceutical division. Yes, you read that correctly – they’re trading in Photos for Pharma.</p>
        </div>
    </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="paddingSlider">
        <div class="investImg investImg3">
           
        </div>
        <div class="investContent">
            <p class="sub">Aug 17th 2020</p>
            <p class="sub2">Mudani Learn</p>
            <h2 class="inner">How To Start Investing your Money</h2>
            <p class="headmain">Why is high-end customized portfolio management only readily available to the wealthy? Why do my palms immediately start sweating when I hear financial terms like Index Funds, ETFs and Municipal Bonds?</p>
        </div>
    </div>
    </ng-template>
    
    </owl-carousel-o>

    </div>
    </div>
</section>


<app-footer></app-footer>