<footer class="footer boxs">
    
<div class="container-fluid">
    <div class="footerIn">
        <h2>Check the background of Mudani Capital on <a href="javascript:void(0)"><span class="colorLight">FINRA’s BrokerCheck</span></a></h2>
        <div class="footerLower">
            <div class="footerBox logoX">
                <ul>
                    <li>
                        <a href="#0" class="footLo"><img src="assets/images/footer_logo.png" alt="logo"></a>
                    </li>
                    <li><a href="#0">Mudani Capital</a></li>
                </ul>
            </div>
            <div class="footerBox">
                <ul>
                    <li class="head">Product</li>
                    <li><a href="javascript:void(0)">Security</a></li>
                    <li><a href="javascript:void(0)">Methodology</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/u-mudani']">Mudani-U</a></li>
                    <li><a  [routerLink]="['/mudani-B2B']"> Mudani-B2B</a></li>
                </ul>
            </div>
            <div class="footerBox">
                <ul>
                    <li class="head">Legal</li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                    <li><a href="javascript:void(0)"> Form ADV Part 2</a></li>
                   
                </ul>
            </div>
           
           
            <div class="footerBox">
                <ul>
                    <li class="head">Learn More</li>
                    <li><a href="javascript:void(0)" [routerLink]="['/blog1']">Blog</a></li>
                    <li><a href="javascript:void(0)">Refer a Friend</a></li>
                    <li><a href="javascript:void(0)"> Careers</a></li>
                    <li><a href="javascript:void(0)"> Press</a></li>
                    <li><a href="javascript:void(0)"> Contact Us</a></li>
                    <li><a href="javascript:void(0)"> FAQ</a></li>
                </ul>
            </div>
            <div class="footerBox">
                <ul class="socialIcon">
                    <li><a href="#0"><span><i class="fa fa-envelope" aria-hidden="true"></i></span> support@mudani.com</a></li>
                </ul>
                <ul class="socialIconns">
                    <li><a href="#0"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#0"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#0"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#0"><i class="fa fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class ="footerPara">
        <p class="headmain">Copyright © 2020 Mudani Capital LLC | All rights reserved</p>
    </div>
</div>
</footer>
