<app-header></app-header>

<section class="retairement boxs">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft">
                        <h2 class="mainHead">Fast Forward to<br><span class="colorBlue">Retirement</span></h2>
                        <p class="headmain">We make it easy to open a Traditional, Roth or SEP IRA. And you don’t have
                            to be a Wall Street whiz to manage it. We’ll recommend a tailored-fit portfolio after you
                            answer our risk-based retirement questionnaire.</p>
                        <h2 class="inner">Start planning for those once a day golf outings now.You’ll be all smiles
                            later.
                        </h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight">
                        <img src="assets/images/retairment.png" alt="retairment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rollOver boxs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="rollIn">
                    <div class="rollImg">
                        <img src="assets/images/roll.png" alt="roll">
                    </div>
                    <h2 class="inner">Roll over</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn">
                    <div class="rollImg">
                        <img src="assets/images/transfer.png" alt="transfer">
                    </div>
                    <h2 class="inner">Transfer</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn">
                    <div class="rollImg">
                        <img src="assets/images/open.png" alt="open">
                    </div>
                    <h2 class="inner">Open</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="totalSum boxs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="totalLeft">
                    <h2 class="mainHead">Lorem ipsum dolr dit</h2>
                    <p class="headmain ret">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui dolor,
                        fermentum ut lectus id, volutpat pulvinar risus. </p>
                    <p class="headmain spanPare">I am <span class="spanInput"><input type="text" class="form-control"
                                value="xx"></span> years old, I’d like to retire at <span class="spanInput"><input
                                type="text" class="form-control" value="xx"></span>.<br>
                        I hope to have<span class="spanInput"><input type="text" class="form-control" value="xx"></span>
                        when I retire. <br>I should be investing <span class="totalCo"> $500 </span> Per month.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="totalRight">
                    <img src="assets/images/coin_men.png" alt="coin">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Traditional boxs">
    <div class="container-fluid">
        <div class="traditionalIn">
            <h2 class="mainHead">Roth <span class="colorBlue">vs.</span> Traditional</h2>
        </div>
        <div class="traditionTop">
            <h2 class="inner">Traditional and Roth IRA</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam nec velit
                varius, eget sodales enim auctor. </p>
            <a [routerLink]="['/blog']">Learn more</a>
        </div>
        <div class="traditionTop">
            <h2 class="inner">SEP IRA</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam nec velit
                varius, eget sodales enim auctor. </p>
            <a href="javascript:void()">Learn more</a>
        </div>
        <div class="traditionTop">
            <h2 class="inner">401(k) Rollover</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam nec velit
                varius, eget sodales enim auctor. </p>
            <a href="javascript:void()">Learn more</a>
        </div>
        <div class="traditionTop">
            <h2 class="inner">Investment account</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam nec velit
                varius, eget sodales enim auctor. </p>
            <a href="javascript:void()">Learn more</a>
        </div>

    </div>
</section>

<section class="retirmentAcc boxs">
    <div class="container-fluid">
        <div class="retireAcIn">
            <h2 class="mainHead">Have retirement accounts <br> elsewhere?</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis est bibendum. Nam interdum dui risus, non tristique nisl viverra molestie. Ut vitae velit augue. In hac habitasse platea dictumst. Vestibulum at imperdiet nibh. Vivamus vulputate tempor porta. Fusce non ligula sed nunc bibendum sagittis eu nec diam.</p>
     <a href="javascript:void(0)">Disclosures</a>
     <div class="retireLine"></div>
        </div>
    </div>
</section>

<app-footer></app-footer>