<app-header></app-header>


<section class="selfDirected boxs">
    <div class="container-fluid">
        <div class="selfDirectInner">
            <h2 class="mainHead">Go into <span class="colorBlue">Self-directed</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="selfBox">
            <h2 class="inner">Self-directed account</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="javaScript:void(0)" class="btnsAll howWorky">Learn More</a>
        </div>
    </div>
</section>

<section class="howWork sliderArrow boxs">
    <div class="container-fluid">
        <h2 class="mainHead">How it works</h2>
        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <owl-carousel-o [options]="customOptions55">
            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Browse stocks & ETFs</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Browse stocks & ETFs</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Browse stocks & ETFs</h2>
                    <p class="headmain">Not sure where to start? Choose from our ready-to-go <a
                            [routerLink]="['/themantic']">Thematic Baskets</a></p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="whiteCard">
                    <h2 class="inner">Create your account</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus.</p>
                </div>
            </ng-template>


        </owl-carousel-o>
        <div class="dotsCss pt-5">
            <ul>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click active" (click)="onClickDot(3)"></li>
                <li class="custom-next-click" (click)="onClickDot(4)"></li>
                <li class="custom-next-click" (click)="onClickDot(5)"></li>
            </ul>
        </div>
    </div>
</section>

<section class="whatGet boxs">
    <div class="container-fluid">
        <div class="getInner">
            <h2>What you <span class="colorBlue"> get?</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="getAccordian">
            <div class="row">
                <div class="col-sm-12">
                    <div class="discord-self">
                        <div class="set set2 ">
                            <a href="javascript:void(0)" class="active"><i class="fa fa-minus  "></i><span>Instant
                                    account opening</span></a>
                            <div class="content content2" style="display: block;">
                                <div class="cont_full getDisplay">
                                    <div class="piePara">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                            Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                                        <div class="PieArea">
                                            <!-- <div class="pie"></div> -->
                                            <img src="assets/images/Instant.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set set2 ">
                            <a href="javascript:void(0)" class=""><i class="fa fa-plus  "></i><span> Fractional Share
                                    Trading</span></a>
                            <div class="content content2" style="display: none;">
                                <div class="cont_full getDisplay">
                                    <div class="piePara">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                            Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                                        <div class="PieArea">
                                            <!-- <div class="pie"></div> -->
                                            <img src="assets/images/pie.png" alt="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set set2 ">
                            <a href="javascript:void(0)" class=""><i class="fa fa-plus  "></i><span> Round-up
                                    Investing</span></a>
                            <div class="content content2" style="display: none;">
                                <div class="cont_full getDisplay">
                                    <div class="piePara">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                            Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                                        <div class="PieArea">
                                            <!-- <div class="pie"></div> -->
                                            <img src="assets/images/RoundupInvesting.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set set2 ">
                            <a href="javascript:void(0)" class=""><i class="fa fa-plus  "></i><span> Fantasy Games &
                                    Rewards</span></a>
                            <div class="content content2" style="display: none;">
                                <div class="cont_full getDisplay">
                                    <div class="piePara">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                            Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                                        <div class="PieArea">
                                            <!-- <div class="pie"></div> -->
                                            <img src="assets/images/FanstasyGames.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set set2 ">
                            <a href="javascript:void(0)" class=""><i class="fa fa-plus  "></i><span> Options & Margin
                                    Trading (Gold/premium feature)</span></a>
                            <div class="content content2" style="display: none;">
                                <div class="cont_full getDisplay">
                                    <div class="piePara">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                            Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                                        <div class="PieArea">
                                            <!-- <div class="pie"></div> -->
                                            <img src="assets/images/ThematicBasket.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-5">
                    <div class="pie"></div>
                </div> -->
            </div>
            <div class="getBtns">
                <a href="https://play.google.com/store" class="btnsAll">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>