<app-header></app-header>
<section class="retairement indexAll boxs roundbg">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft indexLeft">
                        <h2 class="mainHead first"><span class="colorBlue">Moving Money</span><br>Forward</h2>
                        <p class="headmain">Making sense of investing? <span class="colorBlue">Mudani keeps it
                                simple.</span> We bring high-end investment management to <span
                                class="colorBlue">all</span> at an affordable price. Our mission is to make investing in
                            financial markets simple, modern, and educational; whether you’re a newbie or an experienced
                            day trader. </p>
                        <h2 class="inner"><span class="diffrent colorBlue">$0Minimum.</span> Open an account in 5
                            minutes!
                            later.

                        </h2>
                    </div>
                    <div class="indexleftLow">
                        <a href="https://play.google.com/store" class="btnsAll">sign up</a>
                        <ul>
                            <li><a href="https://play.google.com/store"><img src="assets/images/play-store.png"
                                        alt="play"></a>
                            </li>
                            <li><a href="https://www.apple.com/in/app-store/"><img src="assets/images/app-store.png"
                                        alt="app"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight retairmentRightRound indesRight">
                        <img src="assets/images/home.png" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="rollOver WE_DO boxs">
    <div class="container-fluid">
        <div class="weDo">
            <h2 class="mainHead ">What <span class="colorBlue">We Do</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg  doImg">
                        <img src="assets/images/check.png" alt="check">
                    </div>
                    <h2 class="inner">Sign Up</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg doImg">
                        <img src="assets/images/path.png" alt="path">
                    </div>
                    <h2 class="inner">Pick a Path</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg doImg">
                        <img src="assets/images/journey.png" alt="journey">
                    </div>
                    <h2 class="inner">Start your investing journey</h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate quam
                        nec velit varius, eget sodales enim auctor. Donec aliquet risus quis lectus semper, et sagittis
                        est bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what_Get boxs">
    <div class="container-fluid">
        <div class="whatGetIn">
            <h2 class="mainHead">What you get?</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="dotsTab">
            <div class="dotsFlex">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active settingshead"><a href="#first" data-toggle="tab" class="active">
                                <span>Thematic Investing</span> </a></li>
                        <li class="settingshead"><a href="#second" data-toggle="tab"><span>Thematic Investing</span></a>
                        </li>
                        <li class="settingshead"><a href="#third" data-toggle="tab"><span>Thematic Investing</span></a>
                        </li>
                        <li class="settingshead"><a href="#fourth" data-toggle="tab"><span>Thematic Investing</span></a>
                        </li>
                        <li class="settingshead"><a href="#fifth" data-toggle="tab"><span>Thematic Investing</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="first">
                        <div class="mobileFlex">
                            <div class="MobileImg">
                                <img src="assets/images/home_mob.png" alt="mobile">
                            </div>
                            <div class="mobileContent">
                                <h2>Passionate about the environment & socially responsible companies?</h2>
                                <p>We are too. ESG investing is a growing category of investment choices that blend
                                    environmental, social, and governance factors into our selection. We’ll
                                    automatically allocate a portion of your portfolio to ESG funds as we truly believe
                                    they’re the future of investing.</p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="second">
                        <div class="mobileFlex">
                            <div class="MobileImg">
                                <img src="assets/images/home_mob.png" alt="mobile">
                            </div>
                            <div class="mobileContent">
                                <h2>Passionate about the environment & socially responsible companies?</h2>
                                <p>We are too. ESG investing is a growing category of investment choices that blend
                                    environmental, social, and governance factors into our selection. We’ll
                                    automatically allocate a portion of your portfolio to ESG funds as we truly believe
                                    they’re the future of investing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="third">
                        <div class="mobileFlex">
                            <div class="MobileImg">
                                <img src="assets/images/home_mob.png" alt="mobile">
                            </div>
                            <div class="mobileContent">
                                <h2>Passionate about the environment & socially responsible companies?</h2>
                                <p>We are too. ESG investing is a growing category of investment choices that blend
                                    environmental, social, and governance factors into our selection. We’ll
                                    automatically allocate a portion of your portfolio to ESG funds as we truly believe
                                    they’re the future of investing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="fourth">
                        <div class="mobileFlex">
                            <div class="MobileImg">
                                <img src="assets/images/home_mob.png" alt="mobile">
                            </div>
                            <div class="mobileContent">
                                <h2>Passionate about the environment & socially responsible companies?</h2>
                                <p>We are too. ESG investing is a growing category of investment choices that blend
                                    environmental, social, and governance factors into our selection. We’ll
                                    automatically allocate a portion of your portfolio to ESG funds as we truly believe
                                    they’re the future of investing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="fifth">
                        <div class="mobileFlex">
                            <div class="MobileImg">
                                <img src="assets/images/home_mob.png" alt="mobile">
                            </div>
                            <div class="mobileContent">
                                <h2>Passionate about the environment & socially responsible companies?</h2>
                                <p>We are too. ESG investing is a growing category of investment choices that blend
                                    environmental, social, and governance factors into our selection. We’ll
                                    automatically allocate a portion of your portfolio to ESG funds as we truly believe
                                    they’re the future of investing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="pickPath boxs">
    <div class="container">
        <div class="pickInner">
            <h2 class="mainHead">Pick your <span class="colorBlue">Path</span></h2>
            <p class="headmain">A plan for all. Whether you’re an investing newbie or a sophisticated day trader. <br>
                Mudani creates a tailored fit portfolio for you. $0 min & low fees.</p>
            <a href="javascript:void(0)">Pick yours.</a>
            <ul class="pickCard">
                <li><a href="javascript:void(0)" class="selfDirect">Self-Directed DIY</a></li>
                <li><a href="javascript:void(0)" class="active selfManag">Managed Account</a></li>
            </ul>
            <div class="cards">
                <div class="cardsLeft cardsLeftF">
                    <h3 class="basic">Basic</h3>
                    <h3 class="min">$0 Min</h3>
                    <p>$5/month</p>
                    <div class="cardInner">
                        <ul>
                            <li class="set5">
                                <a href="javascript:void(0)" class="setb">Each thematic portfolio pie
                                    +$1/month </a>
                                <div class=" content5" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="set5">
                                <a href="javascript:void(0)" class="setb">Account types supported:</a>
                                <div class=" content5" style="display: block;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="btnClass boxs">
                            <a [routerLink]="['/self-directed']" class="btnsAll">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="cardsLeft cardsLeftNew active">
                    <h3 class="basic">Premium</h3>
                    <h3 class="min">$100k Min</h3>
                    <p>$10/month</p>
                    <div class="cardInner">
                        <ul>
                            <li class="setnew ">
                                <a href="javascript:void(0)" class="setb">Free IRA access</a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                            <li>Trusts</li>
                                            <li>Custodial (UTMA/UGMA)</li>
                                            <li>Institutional</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a href="javascript:void(0)" class="setb">Margin </a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a href="javascript:void(0)" class="setb">Access to all thematic portfolio pies </a>
                                <div class="contentnew" style="display: none;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="setnew ">
                                <a href="javascript:void(0)" class="setb">Account types supported:</a>
                                <div class="contentnew" style="display: block;">
                                    <div class="cont_full boxs">
                                        <ul>
                                            <li>Individual</li>
                                            <li>Joint</li>
                                            <li>IRA</li>
                                            <li>Trusts</li>
                                            <li>Custodial (UTMA/UGMA)</li>
                                            <li>Institutional</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="btnClass boxs">
                            <a [routerLink]="['/maanged-subtab']" class="btnsAll">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="everyPlace boxs otp_arrow">
    <div class="container-fluid">
        <div class="everyPlaceIn">
            <h2 class="mainHead">Everything in <span class="colorBlue"> One Place </span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="everyPlaceFlex">
            <div class="placeFlexLeft">
                <div class="placeImg">
                    <img src="assets/images/home_mob.png" alt="mob">
                </div>
            </div>
            <div class="placeContent">
                <ul>
                    <li class="placeFirst">
                        <h2 class="inner">Lorem ipsum</h2>
                        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="placeFirst">
                        <h2 class="inner">Lorem ipsum</h2>
                        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="placeFirst">
                        <h2 class="inner">Lorem ipsum</h2>
                        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section class="pririoty boxs">
    <div class="container-fluid">
        <div class="pririotyInner">
            <h2 class="mainHead">Your privacy is our priority</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="pririotyImg">
                    <img src="assets/images/sheild1.png" alt="shild">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="discord ">
                    <div class="set set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-chevron-down"></i><span>How we protect
                                your investments.</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="set set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-chevron-down"></i><span>How we protect
                                your investments.</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="set set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-chevron-down"></i><span>How we protect
                                your investments.</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="getStock boxs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div id="wheel">
                    <div id="inner-wheel">
                        <div class="sec"><span id="bell" class="fa fa-bell-o"></span></div>
                        <div class="sec"><span id="comment" class="fa fa-comment-o"></span></div>
                        <div class="sec"><span id="smile" class="fa fa-smile-o"></span></div>
                        <div class="sec"><span id="heart" class="fa fa-heart-o"></span></div>
                        <div class="sec"><span id="star" class="fa fa-star-o"></span></div>
                        <div class="sec"><span id="lightbulb" class="fa fa-lightbulb-o"></span></div>
                    </div>

                    <div id="spin">
                        <!-- <div id="inner-spin"></div> -->
                    </div>

                    <div id="shine"></div>
                </div>

                <div id="txt"></div>
                <div class="whiteBg"></div>
            </div>
            <div class="col-sm-8">
                <div class="getStockRight">
                    <h2 class="mainHead">Refer a friend and <span class="colorBlue">get a free stock</span></h2>
                    <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
                        vestibulum commodo. Nam viverra sapien et purus lobortis, sed feugiat neque finibus. In vehicula
                        velit sit amet elit semper, ac faucibus sapien condimentum.</p>
                    <h2 class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <a data-toggle="modal" data-target="#refer" class="btnsAll ">Refer a
                        friend</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Instafeed boxs">
    <div class="container-fluid">
        <div class="instaContent">
            <h2 class="mainHead">Insta <span class="colorBlue">feed</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="instaInner">
            <owl-carousel-o [options]="customOptionsImg">
                <ng-template carouselSlide><img src="assets/images/wednesday.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/morning.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/beautiful.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/sunset.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/wednesday.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/morning.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/beautiful.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/sunset.png"></ng-template>
            </owl-carousel-o>
        </div>
        <div class="instagramDet">
            <a href="javascript:void(0)">
                <span><img src="assets/images/instagram.svg" alt=""></span>@mudanicap
            </a>
        </div>
    </div>
</section>
<section class="totalControl boxs">
    <div class="container-fluid">
        <div class="totalConIn">
            <h2 class="mainHead">Total control, total freedom.<br>
                Be invested.</h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="https://play.google.com/store" class="btnsAll">Get Started</a>
        </div>
        <div class="story">
            <a href="javascript:void(0)">Read more about our story ></a>
        </div>
    </div>
</section>

<section class="roundTable boxs">
    <div class="container-fluid">
        <div class="roundAlltab">
            <div class="roundLeftt">
                <img src="assets/images/round_table.png" alt="round">
            </div>
            <div class="roundTablein">
                <h2 class="mainHead">Round <span class="colorBlue">Table</span></h2>
                <p class="headmain">A 5-minute weekly newsletter discussing financial news in simple english.</p>
                <h2 class="inner">Simple. Factual. Conversational.</h2>
                <form [formGroup]="subscriptionForm" (ngSubmit)="submitSubscription()">
                    <div class="emailRound">
                        <div class="roundEmail">
                            <input type="email" placeholder="Your Email" class="form-control" formControlName="email">
                        </div>
                        <div class="roundBtn">
                            <button type="submit" [disabled]="subscriptionForm.invalid">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div class="ModalBox">
    <div id="ThanksModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content unblockModal-content">
                <div class="modal-body unblockModal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Thank you</h3>
                        <p class="pt-4">For Subscribing Mudani</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ModalBox">
    <div id="refer" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a class="CloseModal" data-dismiss="modal">×</a>
                        <div class="row referFrnd">
                            <div class="col-sm-12">
                                <form [formGroup]="referForm" (ngSubmit)="referSubmit()">
                                    <h2 class="mainHead">Please enter your friend Email adddres</h2>
                                    <div class="form-group mt-5 mb-5">

                                        <input type="text" formControlName="yourEmail" class="form-control"
                                            placeholder="Your Email Id">
                                        <!-- <p class="valdoyst" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf="referForm.controls.yourEmail.hasError('required')">
                                            Your Email is required
                                        </p> -->
                                    </div>
                                    <div class="form-group mt-5 mb-5">
                                        <input type="text" formControlName="friendEmail" class="form-control"
                                            placeholder="Friend Email Id">
                                        <!-- <p class="valdoyst" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf=" referForm.controls.friendEmail.hasError('required')">
                                            Friend Email is required
                                        </p> -->
                                    </div>
                                    <div class="roundBtn">
                                        <!-- <button type="submit" data-dismiss="modal"
                                            class="Button btnSpin apply_btn">Refer a friend</button> -->
                                        <button type="submit" class="Button btnSpin apply_btn"
                                            [disabled]="referForm.invalid">Refer a friend</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ModalBox">
    <div id="thankYou" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a class="CloseModal" data-dismiss="modal">×</a>
                        <div class="row referFrnd">
                            <div class="col-sm-12 thanks">
                                Thank you
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ModalBox">
    <div id="myModal" class="modal " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="Decline">
                    <a class="CloseModal" href="javaScript:void(0)" style="z-index: 9;" data-dismiss="modal">×</a>
                    <div class="modal-body text-center p-0">
                        <div class="homeModalImg">
                            <img src="assets/images/calculator.png" alt="" class="img-fluid">
                        </div>
                        <div class="textAreaModal p-4">
                            <h1 class="colorBlue">Are you on the list?</h1>
                            <p class="pt-3">Get the latest from Mudani</p>

                            <div class="emailRound">
                                <div class="roundEmail">
                                    <input type="email" placeholder="Your Email" class="form-control">
                                </div>
                                <div class="roundBtn">
                                    <button type="button">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>