
<app-header></app-header>

<section class="retairement boxs">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft ">
                        <h2 class="mainHead upperCase">what it is<br><span class="colorNeww">thematic investing? </span></h2>
                        <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat finibus purus, ut dignissim nisl dignissim ut. Donec id scelerisque tellus. Nullam ornare placerat egestas. Nam faucibus egestas quam, sit amet aliquam ipsum volutpat fringilla. Pellentesque eros diam, ultricies lobortis lacus in, viverra semper lacus.</p>
                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight">
                        <img src="assets/images/Ani.gif" alt="">
                        <div class="lappo">
                            <h2 class="inner">Lorem Ipsum</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="allIcon boxs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/globe.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>ESG/Social responsible investing</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>ESG/Social responsible investing</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/globe.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/bit.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Blockchain & Bitcoin</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Blockchain & Bitcoin</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/bit.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/leaf.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Cannabis</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Cannabis</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/leaf.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/game.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Sports Wagering & E-gaming</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Sports Wagering & E-gaming</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/game.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/shield.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Cyber Security</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Cyber Security</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/shield.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/setting.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>settings</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Settings</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/setting.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="allIconHide row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/shield.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Cyber Security</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Cyber Security</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/shield.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/setting.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>settings</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Settings</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/setting.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam atque cum doloremque vitae laudantium ex eos
                                recusandae debitis suscipit pariatur unde blanditiis, nemo maxime quas hic a veniam architecto eum!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewThemantic">
            <a href="javascript:void(0)" class="btnsAll allIconShow">view all thematic portfolios</a>
        </div>
    </div>
</section>


<section class="freuentlyAsk boxs">
    <div class="container-fluid">
        <div class="frequantAll">
            <h2 class="mainHead">Frequently asked <span class="colorNeww">questions</span></h2>
        </div>
        <div class="AllAccordian">
            <div class="discord discordFree ">
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class="active"><i class="fa fa-minus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: block;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>
                <div class="freqBlockHide">
                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="seeAll">
            <a  href="javascript:void(0)" class="btnsAll freqBlockShow">See All</a>

        </div>
    </div>
    </div>
</section>
<app-footer></app-footer>