<app-header></app-header>

<section class="ourMission boxs">

    <div class="container-fluid">
        <div class="missionInner">

            <h2 class="mainHead">Our <span class="colorBlue">mission</span></h2>
            <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum efficitur enim
                id congue.<br>Morbi egestas auctor lectus, in malesuada libero ornare pellentesque<br> Nullam non
                pellentesque lectus, ut dapibus tortor.</p>
        </div>
    </div>
</section>

<section class="quickStep boxs sidepadding">
    <div class="container-fluidd">
        <div class="quickStepMain boxs">
            <div class="quickStepLeft aboutRight enquiryMain boxs">
                <h2 class="mainHead">Why we're here</h2>
                  </div>
                  <div class="container-fluid">
            <div class="row">
            
                <div class="col-lg-12">
                    <div class="quickStepRight boxs">
                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-right.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText">
                                    <h3>Lorem ipsum is a <br>dummy  text </h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis egestas dolor. Nam sed metus eget orci maximus scelerisque. Aliquam sed orci ligula. </p>
                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-left.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText istTextLeft">
                                    <h3>Lorem ipsum is a <br>dummy  text </h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner mainTextInnerLeft">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis egestas dolor. Nam sed metus eget orci maximus scelerisque. Aliquam sed orci ligula. </p>
                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-right.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText">
                                    <h3>Lorem ipsum is a <br>dummy  text </h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis egestas dolor. Nam sed metus eget orci maximus scelerisque. Aliquam sed orci ligula. </p>
                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-left.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText istTextLeft">
                                    <h3>Lorem ipsum is a <br>dummy  text </h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner mainTextInnerLeft">
                                  
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis egestas dolor. Nam sed metus eget orci maximus scelerisque. Aliquam sed orci ligula. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="ourCommit boxs">
    <div class="container-fluid">
        <div class="ourCommitIn">
            <h2 class="mainHead">Our <span class="colorBlue">Commitment</span></h2>
            <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="commitIn">
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/bulb.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Democratizing financial markets</h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/book.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Financial literacy to all</h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/party.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Making investing fun</h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/badge.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Rewarding spending</h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/inclusion.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Diversity & inclusion</h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>

        </div>
    </div>
</section>

<section class="Managers boxs">
    <div class="container-fluid">
        <div class="mangerIn">
            <h2 class="mainHead new">We are Fiduciary<span class="colorBlue"> Money <br>Managers</span></h2>
            <h2 class="inner low">Fiduciary [fuh·doo·shee·eh·ree] /noun\Definition\:<br>
                a person who holds a legal and ethical relationship of trust with its clients.</h2>
            <div class="managerCon">
                <p class="headmain">In simple english: we, by law, are required to act in YOUR best interest.</p>

                <p class="headmain"> Fiduciary duty is the highest standard of care in equity law. A fiduciary is
                    expected to be extremely loyal to the person to whom he owes the duty (the “principal") such that
                    there must be no conflict of duty between fiduciary and principal.</p>
            </div>
        </div>
        <div class="Fiduciary">
            <ul class="FiduciaryMain">
                <li>Fiduciary</li>
            </ul>
            <ul class="fiduFour">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
    </div>
</section>

<section class="partners boxs">
    <div class="container-fluid">
        <div class="partnerIn">
            <h2 class="mainHead">Our <span class="colorBlue">Partners</span></h2>
            <ul class="tradingtrading">
                <li><img src="assets/images/trading.png" class="img-fluid" alt="trading"></li>
                <li><img src="assets/images/interactive.png" class="img-fluid" alt="interactive"></li>
                <li><img src="assets/images/trading.png" class="img-fluid" alt="trading"></li>
            </ul>
        </div>
    </div>
</section>

<app-footer></app-footer>